<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="bg-primary">
        <form action="/user" method="POST">
            <input type="text" name="name" id="first-name" placeholder="First name" >
            <input type="text" name="lastName" id="last-name" placeholder="Last name" >
            <input type="text" name="participation" id="participation" placeholder="Participation">
            <button><b>SEND</b></button>
        </form>
    </header>

    <main>
        <div id="text">
            <h3>DATA</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>

        <div id="container">
            <div id="table">
                <table border="1px">
                    <tr>
                        <th>   </th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Participation</th>
                    </tr>
                    <tr>
                        <td>teste 1</td>
                        <td>teste 2</td>
                        <td>teste 3</td>
                        <td>teste 4</td>
                    </tr>
                    <tr>
                        <td>teste 1</td>
                        <td>teste 2</td>
                        <td>teste 3</td>
                        <td>teste 4</td>
                    </tr>
                </table>
            </div>
            <div id="pizza">
                AQUI VAI O GRAFICO DE PIZZA
            </div>

        </div>

    </main>
</body>
</html>