<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title> CotaBox Challenge</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="bg-primary">
        <form action="/user" method="POST" onsubmit="formCheck(event, this)">
            <input type="text" name="name" id="name" placeholder="First name" >
            <input type="text" name="lastName" id="lastName" placeholder="Last name" >
            <input type="number" name="participation" id="participation" placeholder="Participation">
            <button><b>SEND</b></button>
        </form>
    </header>

    <main>
        <div id="text">
            <h3>DATA</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>

        <div id="container">
            <div id="table">
                <table class="content-table">
                    <tr>
                        <th>  </th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Participation</th>
                    </tr>
                    <%users.forEach((user) =>{%>
                        <tr>
                            <td class="id"><%=id++%></td>
                            <td><%=user.name%></td>
                            <td><%=user.lastName%></td>
                            <td class="participation"><%=user.participation%>%</td>
                        </tr>

                    <%})%>
                </table>
            </div>
            <div id="pizza">
                AQUI VAI O GRAFICO DE PIZZA
            </div>

        </div>
    </main>
</body>
<script>
    function formCheck(event, form){
        event.preventDefault()
        let name = document.getElementById('name').value
        let lastName = document.getElementById('lastName').value
        let participation = document.getElementById('participation').value
        if(name.length != 0 && lastName.length != 0 && participation.length != 0){
            form.submit()
        }else{
            alert('Por favor, preencha todos os dados')
        }
    }
</script>
</html>